<!DOCTYPE html>
<html>
<head>
	
   <%provide(:title, 'Recipea') %>
   <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>
<body class="body">
  <div class="section logo-section"><img alt="" src="Logo.png">
  </div>
  <div class="section login-section">
    <div class="span5 login-section"><a href="#" id="login-button" class="button">LOGIN</a><a href="#" id="sign-in" class="link-text">or SIGN IN</a>
    </div>
  </div>
  <div class="section search-section">
    <div class="container">
      <div class="search-text">Show us your fridge and we'll tell you what to cook</div>
      <div class="form">
        <form id="search-form" name="search-form" data-name="Search Form">
          <input id="search-input" type="text" placeholder="Type in ingredient ..." name="name" data-name="Name" class="w-input search-input">
          <div>
          <input type="submit" value="REZEPTE FINDEN" data-wait="Please wait..." id="search-button" class="button">
          </div>
        </form>
      </div>
    </div>
  </div>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
   </div>
</body>
</html>